//== MIT Colors
$mit-red:                #A31F34;
$mit-dark-gray:          #8A8B8C;
$mit-light-gray:         #C2C0BF;
$banana-yellow:          #ffc701;

$navbar-inverse-color:                      lighten($mit-light-gray, 15%);
$navbar-inverse-bg:                         $mit-red;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

$navbar-inverse-link-color:                 $navbar-inverse-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 5%);

$jumbotron-bg:                              lighten($banana-yellow, 0%);

$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       1px;


$body-bg:                   lighten($banana-yellow, 30%);


//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               lighten($banana-yellow, 20%);
//** Background color used for `.table-hover`.
$table-bg-hover:                lighten($banana-yellow, 10%);
//** Border color for table and cell borders.
$table-border-color:            lighten($mit-light-gray, 0%);


@import "bootstrap-mitsfs";


body {
  padding-top: 50px;
}

.navbar-static-bottom {
  margin-bottom: 0px;
  padding-top: 20px;
}

.navbar-brand {
  padding: ($navbar-padding-vertical - 5px) $navbar-padding-horizontal;
}

.mitsfs-seal {
  width: 100%;
  margin: 69px 15px;
}

.pinkdex{
  table.books {
    background-color: lighten($mit-light-gray, 20%);;
    width: 100%;
    tr.odd {
      background-color: lighten($mit-light-gray, 15%);;
    }
  }
}

$scheduler-bg-color: lighten($mit-light-gray, 20%);

.schedule-container {
  background-color: $scheduler-bg-color;
  padding: 2px 0 0 20px;
  
  .dhx_cal_container {
    background-color: $scheduler-bg-color;
    width: 100%;
    height: 626px;
  }
}

.dhx_agenda_line {
  div {
    display: inline-block;
  }
}


.dhx_agenda_area {
  margin-right: 20px;
  padding: 0 0 20px 20px;
  background-color: #fff !important;
}

.dhx_scale_holder {
  background-color: #fff !important;
}

.dhx_scale_holder_now {
  background-color: lighten($banana-yellow, 35%);
}

.dhx_cal_navline .dhx_cal_date {
  font-size: 16px;
}

.mitsfs_events {
  
  .dhx_body, .dhx_header, .dhx_title {
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;
  }
}

.mitsfs_library_schedule {
  .dhx_body, .dhx_header, .dhx_title {
    color: $navbar-inverse-color;
  }
}

.canceled_hours {
  .dhx_body, .dhx_header, .dhx_title {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAP0lEQVQYV2NsamoyZsAB/v37d4YRlwKQJBMTkwlWBTBJkMEYCpAlMRSgS6IowCYJV4BLEqygoaHhP8i1uLwKAM7VKpccMwC8AAAAAElFTkSuQmCC);
    text-decoration: line-through;
  }
}

.dhtmlXTooltip.tooltip {
  padding-top: 5px;
  background-color: $scheduler-bg-color;
}