//== MIT Colors
$mit-red:                #A31F34;
$mit-dark-gray:          #8A8B8C;
$mit-light-gray:         #C2C0BF;
$banana-yellow:          #ffc701;

$navbar-inverse-color:                      lighten($mit-light-gray, 15%);
$navbar-inverse-bg:                         $mit-red;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

$navbar-inverse-link-color:                 $navbar-inverse-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 5%);

$jumbotron-bg:                              lighten($banana-yellow, 0%);

$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       1px;


$body-bg:                   lighten($banana-yellow, 30%);


//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               lighten($banana-yellow, 20%);
//** Background color used for `.table-hover`.
$table-bg-hover:                lighten($banana-yellow, 10%);
//** Border color for table and cell borders.
$table-border-color:            lighten($mit-light-gray, 0%);


@import "bootstrap";


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding: ($navbar-padding-vertical - 5px) $navbar-padding-horizontal;
}

.schedule-container {
  background-color: lighten($mit-light-gray, 20%);
  padding: 10px 0 0 20px;
}


.dhx_cal_container {
  background-color: lighten($mit-light-gray, 20%);
  height: 626px;
  width: 100%;
}

.dhx_scale_holder {
  background-color: #fff !important;
}

.dhx_scale_holder_now {
  background-color: lighten($banana-yellow, 35%);
}

.dhx_cal_navline .dhx_cal_date {
  font-size: 16px;
}