NameVirtualHost *:80
NameVirtualHost *:443
<VirtualHost *:80>
        ServerName mitsfs
        RedirectPermanent / http://mitsfs.mit.edu/
</VirtualHost>

#<VirtualHost *:443>
#        ServerName mitsfs
#        RedirectPermanent / https://mitsfs.mit.edu/
#</VirtualHost>

<VirtualHost *:80>
        ServerAdmin mitsfs-machine-contact@mit.edu
        ServerName mitsfs.mit.edu

        Include include/mitsfs.conf
</VirtualHost>

<VirtualHost *:80>
        ServerName pinkdex.mit.edu
        ServerAlias pinkdex
        RedirectMatch ^/(.*) http://mitsfs.mit.edu/pinkdex/$1
</VirtualHost>

<VirtualHost mitsfs.mit.edu:443>
        ServerName mitsfs.mit.edu
        ServerAdmin mitsfs-machine-contact@mit.edu

        SSLEngine on
        SSLCertificateFile /etc/apache2/mitsfs.mit.edu.crt
        SSLCertificateKeyFile /etc/apache2/mitsfs.mit.edu.key
        SSLCACertificateFile /etc/apache2/mitCAclient.pem
        SSLVerifyClient optional_no_ca
        SSLOptions +StdEnvVars

        Include include/mitsfs.conf
</VirtualHost>