ErrorDocument 404 /mit/mitsfs/web_scripts/mitsfs.mit.edu/error.html

WSGIScriptAlias /pinkdex /mit/mitsfs/web_scripts/web/libcomm.py


Redirect permanent /www/donation-faq.html http://mitsfs.mit.edu/donations
Redirect permanent /www/dues.html http://mitsfs.mit.edu/memberships
Redirect permanent /www/gooddex.html http://mitsfs.mit.edu/gooddex
Redirect permanent /www/dues.html http://mitsfs.mit.edu/memberships
Redirect permanent /www/related-groups.html http://mitsfs.mit.edu/related-groups
Redirect permanent /www/rules-fines.pdf http://mitsfs.mit.edu/rules-fines
Redirect permanent /www/schedule.html http://mitsfs.mit.edu/schedule
Redirect permanent /www/schedule.txt http://mitsfs.mit.edu/schedule
Redirect permanent /www/sf-resources.html http://mitsfs.mit.edu/sf-resources
RedirectMatch ^/www/(.*)$ http://mitsfs.mit.edu/$1


# CORS for calendar
Header always set Access-Control-Allow-Origin "calendar.mitsfs.scripts.mit.edu"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]