title: Donations
{% extends "standard.html" %}
{% block content %}

  <p> MITSFS gets a lot of donations and questions about donation processes. For some of the more common questions, please refer to this list.  For more complicated or detailed questions, please email {{ "mitsfs@mit.edu"|urlize }}</p>

<h2>Frequently Asked Questions</h2>
<ul>
  <li>
    <p><strong>Q. What can I donate?</strong></p>
    <p>A. While you <strong>can</strong> donate almost anything, 
    we will not be able to keep anything that is not within the realm of science fiction or fantasy. (If you are unsure, please ask us!  We'll give you an educated guess.) Books and magazines are the most common  donations, but we will selectively accept CDs, posters, etc.  If you want to  know if we can use something that is not a bound volume, stop by the library or email <strong>{{ "mitsfs@mit.edu"|urlize }}</strong></p>
    
  </li>

  <li>
    <p><strong>Q. I want to give a monatary donation to the library how do I do that?</strong></p>
    <p>A. You can buy a <strong><a href="{% url '/memberships.html' %}">permenant membership</a></strong> or to donate to MITSFS's Endownment:
    <ol>
        <li>Go to <strong><a href="https://giving.mit.edu/givenow/search-designations.dyn?keyword=3655500">giving.mit.edu</a></strong></li>
        <li>Select <code>Add to my gift form</code> next to <strong>Science Fiction Library Fund (3655500)</strong></li>
        <li>Follow the instructions</li>
      </ol>
    </p>
  </li>

  <li>
    <p><strong>Q. I have a large collection to donate.  Can you take it off my hands?</strong></p>
    <p>A. Maybe.  If the donation is larger than a couple hundred books, please discuss it with us first. Email <strong>{{ "mitsfs@mit.edu"|urlize }}</strong> with details and we'll discuss if we can take your collection.</p>
  </li>

  <li>
    <p><strong>Q. Can I send my donation in multiple batches?</strong></p>
    <p>A. Yes, but unless we know how many boxes to wait for, we'll process each batch of boxes we receive separately.</p>
  </li>

  <li>
    <p><strong>Q. Can I donate books/magazines in another language?</strong></p>
    <p>A. Yes, we have a collection of science fiction and fantasy in foreign languages.  Please make sure that the donations are within the realm of science fiction or fantasy.  We also appreciate a translation of the title and author into English if possible.</p>
  </li>

  <li>
    <p><strong>Q. What can I donate that will be most useful to the library?</strong></p>
    <p>A. Please donate space.  We need it more than books. Email <strong>{{ "mitsfs@mit.edu"|urlize }}</strong> if you have ideas. Money to fund the operation of the library is helpful. In terms of books, we especially appreciate the donation of books we do not already have.  Please reference our <strong><a href="{% url '/pinkdex.html' %}">database</a></strong> to see if we already have a specific item.</p>
  </li>

  <li>
    <p><strong>Q. How will you know the donation is coming?</strong></p>
    <p>A. Please email <strong>{{ "trojan@mit.edu"|urlize }}</strong> in advance so we know a donation is coming. Please let us know if you want library credit or just a thank you note.</p>
  </li>

  <li>
    <p><strong>Q. How can I get the donation to you?</strong></p>
    <p>A. Small donations can be mailed to us or dropped off at the library when it is open.  We are willing to pick up larger donations from locations in the Boston metro area, but scheduling may be awkward, as our keyholders have classes and/or work and busy schedules.</p>
  </li>

  <li>
    <p><strong>Q. Can I get library credit?</strong></p>
    <p>A. You can receive library credit for your donation just let us know.</p>
  </li>
  
  <li> 
    <p><strong>Q. Is my donation tax deductable?</strong></p>
    <p>A. All donations for which you don't recieve library credit are tax deductible. Appraising your donation (if required) and filling out any IRS paperwork is your responsibility. We will be happy to send you a letter of acknowledgement (which you may need). See <a href="http://libguides.mit.edu/c.php?g=176173&p=1161294">MIT Library's Tax Information for Donors</a> for more concrete information.</p>
  </li>
</ul>
{% endblock %}

