title: Schedule
{% extends "standard.html" %}

{% block css %}
<link rel="stylesheet" href="{% static '/static/scheduler/dhtmlxscheduler_flat.css' %}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{% static '/static/scheduler/dhtmlxscheduler.js' %}" type="text/javascript"></script>
<script>
  //scheduler.config.show_loading = true;
  scheduler.config.drag_create = false;
  scheduler.config.dblclick_create = false;
  scheduler.config.scroll_hour = 1200;
  scheduler.config.show_quick_info = false;
  scheduler.init('mitsfs_schedule', new Date(),"week");
  scheduler.load("http://calendar.mitsfs.scripts.mit.edu/events.php");

    "https://www.google.com/calendar/feeds/nec0mqhbmvui36s0bndfi0o918%40group.calendar.google.com/public/basic"
</script>
{% endblock %}


{% block content %}
<div class="panel schedule-container">
  <div id="mitsfs_schedule" class="dhx_cal_container panel">
    <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
      <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
  </div>
</div>

{% endblock %}