title: Schedule
{% extends "standard.html" %}

{% block css %}
<link rel="stylesheet" href="{% static '/static/scheduler/dhtmlxscheduler_flat.css' %}" type="text/css">
{% endblock %}

{% block scripts %}
{% for file in js_assets.calendar_js %}
<script src="{% static file %}" type="text/javascript"></script>
{% endfor %}

<script>
  scheduler.init('mitsfs_schedule', new Date(),"week");
  scheduler.load(["http://calendar.mitsfs.scripts.mit.edu/events", "http://calendar.mitsfs.scripts.mit.edu/schedule"] , 'ical');
</script>
{% endblock %}


{% block content %}
<div class="panel schedule-container">
  <div id="mitsfs_schedule" class="dhx_cal_container panel">
    <div class="dhx_cal_navline row">
    <div class="col-sm-7" style="padding-left:0px">
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
      </div>
      <div class="col-sm-5" style="padding-right: 4px;">
        <div class="dhx_cal_tab pull-right" name="week_tab"></div>
        <div class="dhx_cal_tab pull-right" name="day_tab"></div>
        <div class="dhx_cal_next_button pull-right">&nbsp;</div>
        <div class="dhx_cal_prev_button pull-right">&nbsp;</div>        
      </div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
  </div>
</div>
<div class="calendar-links row">
  <div class="col-sm-6">
    <h4>MITSFS Events</h4>
    Google Calendar: <a target="_blank" href="https://www.google.com/calendar/render?cid=e4bij68ddubsenh0tttpto86bk%40group.calendar.google.com&amp;ctz=America/New_York"><img src="{% static '/static/images/html.gif' %}"></a>
    <a target="_blank" href="https://www.google.com/calendar/ical/e4bij68ddubsenh0tttpto86bk%40group.calendar.google.com/public/basic.ics"><img src="{% static '/static/images/ical.gif'%}"></a>
  </div>
  <div class="col-sm-6">
    <h4>MITSFS Library Schedule</h4>
    Google Calendar: <a target="_blank" href="https://www.google.com/calendar/render?cid=nec0mqhbmvui36s0bndfi0o918%40group.calendar.google.com&amp;ctz=America/New_York"><img src="{% static '/static/images/html.gif'%}"></a>
    <a target="_blank" href="https://www.google.com/calendar/ical/nec0mqhbmvui36s0bndfi0o918%40group.calendar.google.com/public/basic.ics"><img src="{% static '/static/images/ical.gif'%}"></a>
  </div>
</div>
{% endblock %}