{% extends "standard.html" %}
{% block content %}
  <p> The world's largest public open-shelf collection of science fiction is the MITSFS Library.  Our database of books can be <a href="{% url '/pinkdex.html' %}">searched here</a>. We have both science fiction and fantasy, including sf horror; our collection includes magazines, some foreign-language material and science-fiction related books as well.</p>

  <p> Anyone can come and browse whenever the Library is open (see the <a href="{% url '/hours.html' %}">schedule</a>), and members can borrow from our circulating section. <a href="{% url '/memberships.html' %}">Membership</a> is open to anyone.</p>

  <p> If you have any questions about donating books to our collection, please see our <a href="{% url '/donations.html' %}">Donation FAQ</a>.</p>
  <p>
    We are located on the 4th floor of the Student Center, in W20-473:<br>
    <a href="http://whereis.mit.edu/map-jpg?section=directions">Getting to MIT</a><br>
    <a href="http://whereis.mit.edu/map-jpg?mapterms=W20&mapsearch=go">Finding W20</a><br>
    <a href="{% static '/static/images/fourth.gif' %}">Outline of W20-4</a><br>
    <a href="https://floorplans.mit.edu/pdfs/W20_4.PDF">W20-4 floorplan (PDF)</a>
    (floorplans are MIT-access only)<br>
  </p>

  <h4>Contact Us</h4>
  <p>
  <strong>Email</strong>: {{ 'mitsfs@mit.edu' | urlize }}<br> 
  <strong>Phone</strong>: 617-258-5126 (aka MIT x8-5126)<br>
  <strong>Address</strong><br>
  </p>
    <pre>MIT Science Fiction Society<br>W20-473<br>84 Massachusetts Avenue<br>Cambridge, MA 02139-4307</pre>
{% endblock %}

{% block side_content %}
  <div class='row'>
    <h1>Upcoming Events!</h1>
    <iframe src="https://www.google.com/calendar/embed?title=MITSFS%20Events&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=250&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=e4bij68ddubsenh0tttpto86bk%40group.calendar.google.com&amp;color=%23FFFFFF&amp;ctz=America%2FNew_York" style=" border-width:0" width="375" height="250" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class='row' style="padding-top:20px">
    <a class="twitter-timeline" href="https://twitter.com/mitsfs" data-widget-id="647160084062060548" width="375px" height="300px">Tweets by @mitsfs</a>
  </div>
{% endblock %}

{% block scripts %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
