title: Library Map
{% extends "base.html" %}

{% block scripts %}
<script src="{% static "/static/js/tiny_table.js" %}" type="text/javascript"></script>
<script type="text/javascript">
  var sorter = new TINY.table.sorter("sorter");
  sorter.asc = "active";
  sorter.desc = "active";
  sorter.init("table");
  </script>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ title|default:"MIT Science Fiction Society" }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Shelfcodes</h3>
      <table id="table" class="table table-bordered table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th>Category <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
            <th>Code <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
            <th>Location <span class="glyphicon glyphicon-sort pull-right" aria-hidden="true"></span></th>
          </tr>
        </thead>
        <tbody>
          {% for shelfcode in shelfcodes %}
            <tr><td>{{ shelfcode.name }}</td><td>{{ shelfcode.code }}</td><td>{{ shelfcode.shelf }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h3>Shelfcodes Explanations</h3>
      <p>For all but a few oddball categories the shelfcode format is (Items in brackets are optional.):</p>
      <pre>[R/] size [-category]</pre>
      <p>"R/" means "on reserve, does not circulate."  Additionally, the following also don't circulate: DICT, ARTIFACT, foreign books, doubles (e.g., Ace Doubles), and anything on the New Books shelf.  With those exceptions, anything that doesn't have the "R/" prefix does circulate.</p>
      <h4>Size (based on the book's height):</h4>
      <ul>
        <li><strong>S</strong> – up to 7¼ inches: (small)</li>
        <li><strong>L</strong> – 7¼ to 9½ inches: (large)</li>
        <li><strong>VL</strong> – 9½ to 12 inches: (very large)</li>
        <li><strong>XL</strong> – above 12 inches: (extremely large)</li>
      </ul>
      <h4>Major catagories:</h4>
      <ul>
        <li><strong>(none)</strong> – Fiction, single-author works. Novels or collections of stories all by the same author.</li>
        <li><strong>A</strong> – Fiction, anthologies. Collections of stories by different authors. (Note: anthologies are alphabetized by name-of-editor.  Also, there's no hyphen for these, thus e.g. "LA" rather than "L-A".)</li>
        <li><strong>REF</strong> – Non-fiction, reference work.</li>
        <li><strong>CX</strong> – Comics/graphic novels.</li>
        <li><strong>ART</strong> – Art books.</li>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Library Map</h3>
      <img src="{% static '/static/images/floorplan_2015-01-15.png' %}" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Shelf Map 1-4</h3>
      <img src="{% static '/static/images/sh_1-4.png' %}" class="img-responsive">
    </div>
    <div class="col-lg-6">
      <h3>Shelf Map 6-9</h3>
      <img src="{% static '/static/images/sh_6-9.png' %}" class="img-responsive">
    </div>
  </div>
</div>
{% endblock %}