title: Related Groups
{% extends "standard.html" %}
{% block content %}

<p> At most universities (and many other places) there's a single group
of "those weird people" that does science fiction, gaming, paganism, etc.
MITSFS gets occasional email from people thinking we're that; actually,
the relevant population at MIT is large enough to support separate groups.
(Which tend to have lots of overlap, of course.) So, if you're from somewhere
else and were looking for all the weirdos, here are the places you might
have thought would all be the same as each other and us: </p>

<ul>

<li> <a href="http://www.mit.edu/~mitsfs/">MITSFS</a>, the Science Fiction
Society, runs the world's largest open-shelf collection of science fiction.

<li> The <a href="http://www.mit.edu/~assassin/">Assassins' Guild</a>
is the live-action role-playing group.

<li> The <a href="http://www.mit.edu/~sgs/">Strategic Gaming Society</a>
has a subgroup for tabletop role-playing (though most tabletop gaming
isn't affiliated with any official group) and a subgroup for non-RPG
tabletop games, chiefly wargames.

<li> The <a href="http://www.mit.edu/~psg/">Pagan Students' Group</a>
supports and promotes awareness of various non-mainstream religions;
the rituals often tend towards Wicca.

<li> <a href="http://www.mit.edu/~mitseds/">SEDS</a> (Students for the
Exploration and Development of Space) has a chapter here.

<li> The <a href="http://www.mit.edu/~anime/">Anime Club</a> holds showings
of and maintains a library of Japanese animation (anime).

<li> <a href="http://lsc.mit.edu/">LSC</a> is technically the Lecture
Series Committee but nowadays is primarily known as the group that
shows movies.

<li> <a href="http://www.mit.edu/~sca/">Mitgaard</a> is MIT's chapter
of the Barony of Carolingia, in the Society for Creative Anachronism,
which by virtue of being well-established globally isn't really expected
to be the same group as the others, but close enough.

</ul>

<p>The above activities are all student-centered but open to non-students.</p>

<p> For a full list of MIT activities, see the
<a href="http://www.mit.edu/~asa/">Association of Student Activities</a>
pages.
</p>

{% endblock %}


