title: External Science Fiction Resources
{% extends "standard.html" %}
{% block content %}

This page is not meant to be a general archive---we list a couple of those
first thing, and they're really good places for general searches.  Other
than those, we keep links to some categories that we feel like singling
out, mostly ones more directly related to MITSFS. <p>

Unlike most web sites, we have no urge to be linked to, so we're
probably not interested in link-trading offers.  If your site is
<em>particularly</em> relevant to MITSFS, not just random SF, we
may link to it, but really we prefer to leave the generic stuff
to these generic sites we're about to list:

<h2>Useful General SF Websites</h2>
<ul> 

<LI> <a href="http://isfdb.org/">Internet Speculative Fiction Database</a>
(lists of SF stories and novels by author or by awards won,
lists of forthcoming and recently-out books, searches)
<li> <a href="http://www.sff.net/">SFF Net</a>'s community of
genre authors, editors, publishers, and readers
<LI> <a href="http://www.fandata.com/">FanData</a> fandom directory
<LI> <a href="http://goodreads.com/">Good Reads</a>
<li> <a href="http://www.locusmag.com/index/">Locus Index to SF</a>
<li> <a href="ftp://rtfm.mit.edu/pub/usenet-by-hierarchy/rec/arts/sf/">rec.arts.sf.* FAQs</a> (good places to look for answers to your SF questions

</UL>

<h2>Other Science Fiction Libraries, Collections, and Museums</h2>
<ul>
<li><a href="http://eaton-collection.ucr.edu/">Eaton Collection of Science Fiction, Fantasy, Horror, and Utopian Literature</a> at the University of California-Riverside</li>
<li><a href="http://www.torontopubliclibrary.ca/uni_spe_mer_index.jsp">Merril Collection of Science Fiction, Speculation, and Fantasy</a> at the Toronto Public Library</li>
<li><a href="http://sf.lcc.gatech.edu/">Bud Foote Science Fiction Collection</a> at Georgia Tech</li>
<li><a href="http://library.temple.edu/collections/special_collections/scifi.jsp;jsessionid=A11B094D1B950A4D4EEF7E3CFECB4378?bhcp=1">Paskow Science Fiction Collection</a> at Temple University</li>
<li><a href="http://www.lib.uiowa.edu/spec-coll/MSC/ToMsC800/MsC791/MsC791_horvatfanzines.htm">M. Horvat Collection of Science Fiction Fanzines</a> at the University of Iowa</li>
<li><a href="http://www.nla.gov.au/collect/s-clarke.html">Susan Smith-Clarke Fanzine Collection</a> at the National Library of Australia</li>
<li><a href="http://www.empsfm.org/">Science Fiction Museum and Hall of Fame</a> in Seattle, Washington</li>
</ul>


<h2> A Few SF Groups </h2>

<p> 
Generally other college groups plus a couple others that we have particular
relationships with.  See some of the archives above for much fuller lists.
<br>
(Non-SF but maybe-related-to-MITSFS groups are listed 
<a href="related-groups.html">here</a>.)
</p>
<UL>

<LI> <a href="http://www.mcfi.org/boston/neclubs.html">list of SF clubs in
the northeastern US</a>

<LI> <a href="http://www.mit.edu/~mitsfs/">MITSFS</a>

<LI> <a href="http://www.nesfa.org/home.html">NESFA</a>
(New England SF Association)

<LI> <a href="http://www.sfwa.org/">SFWA</a> (SF Writers of America)

<LI> <a href="http://www.hrsfa.org/">HRSFA</a> (Harvard-Radcliffe
SF Association)

<LI> <a href="http://www.umich.edu/~umfandsf">U of Mich F & SF</a>

<LI> <a href="http://www.smith.edu/ssffs">Smith Science Fiction and Fantasy
Society</a>

<LI> <a href="http://www.sf4m.org/">Science Fiction Forum</a> of the
State University of New York at Stony Brook

<LI> <a href="http://www.lrsfs.org/">Little Rock Science Fiction Society</a>

<LI> <a href="http://www.bsfs.org">Baltimore Science Fiction Society</a>

<LI> <a href="http://www.columbia.edu/cu/cusfs/">Columbia University
Science Fiction Society</a>

</UL>


<h2> MITSFS People Who've Turned Pro </h2>
<UL>

<LI> <a href="http://www.burningvoid.com/users/heather/">Heather Grove</a>
(gaming material, horror, some science fiction)

<LI> <a href="http://www.sff.net/people/chirsch/">Connie Hirsch</a>
	(science fiction)
<LI> <a href="http://www.sff.net/people/Geoffrey.Landis/">
Geoffrey Landis</a> (science fiction, science)
<LI> <a href="http://3mpub.com/phillies/">George Phillies</a>
(science fiction, Libertarian philosophy)
<LI> <a href="http://www.elfquest.com/Warp/About.html">Richard Pini</a>
(Elfquest)
<li> <a href="http://www.enter.net/~torve/">Alexei and Cory Panshin</a>
(science fiction)

</UL>


<h2> MITSFS-Related Publishers and Stores</h2>
(See some of the general archives at top for general lists of publishers.)
<ul>
<li> The <a href="http://www.io.com/~aylott/">Space-Crime Continuum</a> 
(Northampton, MA) supplies most of our paperbacks.
<li> The <a href="http://MapsOnUs.switchboard.com/bin/maps-showpoi/usr=~new/poi=c2:68d0531">New England Mobile Book Fair</a>
(Newton Highlands, MA) supplies most of our hardcovers.
<LI> <a href="http://www.nesfa.org/press/">NESFA Press</a>, the publishing
pseudopod of <a href="http://www.nesfa.org/">NESFA</a>, is a respected
non-profit small press in SF.  <i>They</i> send us copies of the books
<i>free</i>; aren't you other publishers jealous of them?  Don't you wish
you did that too?
<li> MITSFS President &amp; Skinner '66 Mike Ward publishes e-books
at <a href="http://www.hidden-knowledge.com/">Hidden Knowledge</a>.
<li> MITSFS President &amp; Skinner '84 Tim Huckelbery operates the
mind-control lasers for the <a href="http://www.games-workshop.com/">Games
Workshop</a>; they do tabletop wargaming (miniatures) and their 
<a href="http://www.games-workshop.com/blacklibrary/">Black Library</a>
arm publishes related fiction.
<li> And <a href="discounts.html">these stores</a> give discounts
to MITSFS members.

</ul>


<h2>Humor</h2>
<ul>

<li> <a href="http://www.eviloverlord.com/">Evil Overlord, Inc.</a>
<li> <a href="http://www.satirewire.com/news/may02/prizes.shtml">Scientist
Splits Atom, Finds Toy Prize Inside</a>
<li> <a href="http://www.satirewire.com/news/jan02/asteroid.shtml">Scientists
To Study Giant Asteroids By Steering Them Into Earth</a>
<li> <a href="http://www.theonion.com/onion3524/aliens_portrayl_media.html">Aliens Demand More Positive Portrayal In The Media</a>
<li> <a href="http://www.theonion.com/onion3119/stupidbabies.html">Study
Reveals: Babies Are Stupid</a>
<li> <a href="http://www.theonion.com/onion2918/daycare.html">Death Star
To Open Day Care Center</a>
<li> <a href="http://www.theonion.com/onion3630/dolphins_evolve_thumbs.html">Dolphins Evolve Opposable Thumbs: "Oh, Shit," Says Humanity</a>
<li> <a href="http://www.theonion.com/onion3526/klingon_navajo.html">Klingon
Speakers Now Outnumber Navajo Speakers</a>
<li> <a href="http://www.theonion.com/onion3603/xfiles_fan_killed.html"><i>X-Files</i> Fan Killed For Knowing Too Much</a>

</ul>


<h2>Other Stuff</h2>
<UL>
<li> the Astronomical Society of the Pacific's topical index of 
 <a href="http://www.astrosociety.org/education/resources/scifi.html">Science
Fiction Stories with Good Astronomy &amp; Physics</a>
<LI> the <a href="http://www.urly-bird.com/LIT/">Lunar Institute of 
Technology</a> including the 
<a href="http://www.urly-bird.com/LIT/interstellar/SSD_index.html">Starship 
Design Project</a>
<LI> <a href="http://www.clark.net/pub/iz/Books/Top100/top100.html">Internet 
Top 100 SF/Fantasy List </a> 
<li><a href="http://www.uchronia.net/">Uchronia: The Alternate History List</a>
<li> <a href="http://www.openculture.org/">OpenCulture</a> collects
     contributions from fans wanting a piece of art and with these
     pays the artist to produce it and make it freely available
</UL>


Addresses of other SF-type documents will be gladly received by 
<strong>mitsfs@mit.edu</strong>.  As noted up top, we don't even 
<em>attempt</em> to link to <em>everything</em> of SF interest; 
that's what those archive links are for.  But we'll link to 
particularly MITSFS-relevant things.
<p>

{% endblock %}

