title: External Science Fiction Resources
{% extends "standard.html" %}
{% block content %}

<p>
  This page is not meant to be a general archive---we list a couple of those first thing, and they're really good places for general searches.  Other than those, we keep links to some categories that we feel like singling out, mostly ones more directly related to MITSFS.
</p>

<p>
  Unlike most web sites, we have no urge to be linked to, so we're probably not interested in link-trading offers.  If your site is <em>particularly</em> relevant to MITSFS, not just random SF, we may link to it, but really we prefer to leave the generic stuff to these generic sites we're about to list:
</p>

<h2>Useful General SF Websites</h2>
<ul> 
  <li> <a href="http://isfdb.org/">Internet Speculative Fiction Database</a></li>
(lists of SF stories and novels by author or by awards won,
lists of forthcoming and recently-out books, one of the most comprehensive science fiction databases)
  <li> <a href="http://www.sff.net/">SFF Net</a>'s community of
genre authors, editors, publishers, and readers</li>
  <li> <a href="http://www.fandata.com/">FanData</a> fandom directory</li>
  <li> <a href="http://goodreads.com/">Good Reads</a></li>
  <li> <a href="http://www.locusmag.com/index/">Locus Index to SF</a></li>
  <li> <a href="ftp://rtfm.mit.edu/pub/usenet-by-hierarchy/rec/arts/sf/">rec.arts.sf.* FAQs</a> (good places to look for answers to your SF questions</li>
</ul>

<h2>Other Science Fiction Libraries, Collections, and Museums</h2>
<ul>
  <li><a href="http://eaton-collection.ucr.edu/">Eaton Collection of Science Fiction, Fantasy, Horror, and Utopian Literature</a> at the University of California-Riverside</li>
  <li><a href="http://www.torontopubliclibrary.ca/merril/">Merril Collection of Science Fiction, Speculation, and Fantasy</a> at the Toronto Public Library</li>
  <li><a href="http://sf.lcc.gatech.edu/">Bud Foote Science Fiction Collection</a> at Georgia Tech</li>
  <li><a href="http://library.temple.edu/collections/special_collections/scifi.jsp;jsessionid=A11B094D1B950A4D4EEF7E3CFECB4378?bhcp=1">Paskow Science Fiction Collection</a> at Temple University</li>
  <li><a href="http://www.lib.uiowa.edu/spec-coll/MSC/ToMsC800/MsC791/MsC791_horvatfanzines.htm">M. Horvat Collection of Science Fiction Fanzines</a> at the University of Iowa</li>
  <li><a href="http://www.nla.gov.au/collect/s-clarke.html">Susan Smith-Clarke Fanzine Collection</a> at the National Library of Australia</li>
  <li><a href="http://www.empsfm.org/">Science Fiction Museum and Hall of Fame</a> in Seattle, Washington</li>
</ul>


<h2> A Few SF Groups </h2>

<p>Generally other college groups plus a couple others that we have particular relationships with.  See some of the archives above for much fuller lists.</p>
<p>(Non-SF but maybe-related-to-MITSFS groups are listed <a href="related-groups.html">here</a>.)</p>
<ul>
  <li> <a href="http://www.nesfa.org/home.html">NESFA</a> (New England SF Association)</li>
  <li> <a href="http://www.sfwa.org/">SFWA</a> (SF Writers of America)</li>
  <li> <a href="http://www.hrsfa.org/">HRSFA</a> (Harvard-Radcliffe
SF Association)</li>
  <li> <a href="http://www.umich.edu/~umfandsf">U of Mich F & SF</a></li>
  <li> <a href="http://www.smith.edu/ssffs">Smith Science Fiction and Fantasy Society</a></li>
  <li> <a href="http://www.sf4m.org/">Science Fiction Forum</a> of the State University of New York at Stony Brook</li>
  <li> <a href="http://www.bsfs.org">Baltimore Science Fiction Society</a></li>
  <li> <a href="http://www.columbia.edu/cu/cusfs/">Columbia University Science Fiction Society</a></li>
</ul>


<h2> MITSFS People Who've Turned Pro </h2>
<ul>
  <li> <a href="http://www.sff.net/people/Geoffrey.Landis/"> Geoffrey Landis</a> (science fiction, science)</li>
  <li> <a href="http://3mpub.com/phillies/">George Phillies</a> (science fiction, Libertarian philosophy)</li>
  <li> <a href="http://www.elfquest.com/Warp/About.html">Richard Pini</a> (Elfquest)</li>
  <li> <a href="http://panshin.com/">Alexei and Cory Panshin</a> (science fiction)</li>
</ul>


<h2> MITSFS-Related Publishers and Stores</h2>
<ul>
  <li><a href="http://www.nebookfair.com/">New England Mobile Book Fair</a> (Newton Highlands, MA) used to supply most of our hardcovers.</li>
  <li> <a href="http://www.nesfa.org/press/">NESFA Press</a>, the publishing pseudopod of <a href="http://www.nesfa.org/">NESFA</a>, is a respected non-profit small press in SF.</li>
  <li> MITSFS President &amp; Skinner '66 Mike Ward publishes e-books at <a href="http://www.hidden-knowledge.com/">Hidden Knowledge</a>.</li>
  <li> MITSFS President &amp; Skinner '84 Tim Huckelbery operates the mind-control lasers for the <a href="http://www.games-workshop.com/">Games Workshop</a>; they do tabletop wargaming (miniatures) and their <a href="http://www.blacklibrary.com/">Black Library</a> arm publishes related fiction.</li>
</ul>

<p>
  Addresses of other SF-type documents will be gladly received by <strong>mitsfs@mit.edu</strong>.  As noted up top, we don't even <em>attempt</em> to link to <em>everything</em> of SF interest; that's what those archive links are for.  But we'll link to particularly MITSFS-relevant things.
</p>

{% endblock %}

