<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if title %}{{ title }} - {% endif %}MIT Science Fiction Society</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">
        {% block css %}
        {% endblock %}
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
    </head>

    <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "/index.html" %}"><img alt="MIT Science Fiction Society" src="{% static '/static/images/banana.svg' %}" width="30px" height="30px"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if_current_page '/index.html' 'active' '' %}"><a href="{% url '/index.html' %}">MIT Science Fiction Society</a></li>
            <li class="{% if_current_page '/hours.html' 'active' '' %}"><a href="{% url '/hours.html' %}">Hours</a></li>
            <li class="{% if_current_page '/reviews.html' 'active' '' %}"><a href="{% url '/reviews.html' %}">Reviews</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Library<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% if_current_page '/banana.html' 'active' '' %}"><a href="{% url '/banana.html' %}">Bananas</a></li>
                <li class="{% if_current_page '/pinkdex.html' 'active' '' %}"><a href="{% url '/pinkdex.html' %}">Catalog</a></li>
                <li class="{% if_current_page '/donations.html' 'active' '' %}"><a href="{% url '/donations.html' %}">Donations</a></li>
                <li class="{% if_current_page '/map.html' 'active' '' %}"><a href="{% url '/map.html' %}">Map</a></li>
                <li class="{% if_current_page '/memberships.html' 'active' '' %}"><a href="{% url '/memberships.html' %}">Memberships</a></li>
                <li class="{% if_current_page '/minutes.html' 'active' '' %}"><a href="{% url '/minutes.html' %}">Minutes</a></li>
                <li class="{% if_current_page '/rules-fines.html' 'active' '' %}"><a href="{% url '/rules-fines.html' %}">Rule &amp; Fines</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="{% if_current_page '/gooddex.html' 'active' '' %}"><a href="{% url '/gooddex.html' %}">Book Recomendations</a></li>
                <li class="{% if_current_page '/related-groups.html' 'active' '' %}"><a href="{% url '/related-groups.html' %}">Related MIT Groups</a></li>
                <li class="{% if_current_page '/sf-resources.html' 'active' '' %}"><a href="{% url '/sf-resources.html' %}">External Science Fiction Resources</a></li>
                <li><a href="https://sq.wikipedia.org/wiki/Gjuha_Shqipe">Albania: Land of the Eagles</a></li>
              </ul>
            </li>
          </ul>
          <div class="navbar-right">
             <iframe width="128px" height="45px" frameBorder="0" scrolling="no" src="https://mitsfs.scripts.mit.edu/door/door.py"></iframe>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="navbar navbar-static-bottom" id="footer">
      <div class="container">
        <div class="row">
          <p class="text-center">©MIT Science Fiction Society | {{ 'mitsfs@mit.edu' | urlize }} | (617) 258-5126<br>
          W20-473 | 84 Massachusetts Ave. | Cambridge, MA 02139</p>
        </div>
      </div>
    </footer>

    <script src="{% static '/static/js/vendor/jquery-1.10.1.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.js' %}"></script>

    {% block scripts %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68318012-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
